.postEditor {
  background-color: white;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  border: 0.1px solid var(--bg-header-bottom-border);
}
.postEditor__upper {
  display: flex;
}
.postEditor__upper__inputBox {
  outline: none;
  height: 50px;
  width: 500px;
  border: 0.1px solid var(--bg-header-bottom-border);
  border-radius: 25px;
}
.postEditor__upper__inputBox::placeholder {
  padding: 25px;
  font-size: large;
}
.postEditor__lower {
  display: flex;
}
.postEditor__lower {
  margin-top: 15px;
  display: flex;
  flex: 1 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.postEditor__lower__item {
  display: flex;
  flex: 1;
}
